data/
images/
logs/
outputs/
*egg-info/
__pycache__/

*.swp
*.pyc
*.exe
*.hpp
*.log
tests/*.stat
*.png
tests/sampling/*
src/pyrethink/stan/mv_censored
src/pyrethink/stan/test_cor
src/pyrethink/stan/test_functions
src/pyrethink/stan/test_indexing
src/pyrethink/stan/test_mv

scripts/check_stan

