data/
images/
logs/
outputs/
*egg-info/
__pycache__/

*.swp
*.pyc
*.exe
*.hpp
*.log
*.db
tests/*.stat
tests/snipets
*.png
tests/sampling/*
src/pyrethink/stan/factors_correlation
src/pyrethink/stan/mv_censored
src/pyrethink/stan/mv_censored_factors
src/pyrethink/stan/test_cor
src/pyrethink/stan/test_functions
src/pyrethink/stan/test_indexing
src/pyrethink/stan/test_mv
src/pyrethink/stan/test_clusters
src/pyrethink/stan/test_copula

scripts/check_stan

